body {
  margin: 0;
  padding: 0em;
  font-family:  'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{
  width: 15em;
  text-align: center;
  border: 1px solid black;
  border-radius: 10%;
  margin: 1em;
  background-color: bisque;
  padding: 0;
  font-size: small;
}

.card-list{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.flags{
  max-width: 2em;
}

.onvisited{
  background-color: rgb(69, 202, 69);
}


.h4{
  padding: 0em;
  margin: 0cm;
  border-radius: 0%;
}

.p{
  padding: 0em;
  margin: 0cm;
}


#visitbtn{
  margin: 0.5em;
  color:darkgreen;
  background-color: aquamarine;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

#visitbtn:focus{
  background-color: blueviolet;
  color: bisque;
}
